<ion-header>
  <ion-toolbar>
    <ion-title>[TEST ZONE] Story Maker </ion-title>
  </ion-toolbar>
  <div id="storiesButton">
    <button *ngFor="let item of story" (click)="loadStory(story.indexOf(item))">{{story.indexOf(item)+1}}</button>
    <a [href]="downloadJsonHref" [download]="storydownload" ><button class="importer" (click)="saveStoryFile()"> save in file </button></a>
    <input style="display: none" type="file" accept=".json" (change)="onFileLoad($event)" #fileinput>
    <button class="importer" type="button" (click)="fileinput.click()"> import a story-file </button>
  </div>
</ion-header>
<div id="content">
  <div id="allStory">
    <div>
      <button class="saveButton" (click)="saveStory()">SAVE LOCALLY</button>
    </div>
    <div *ngFor="let item of story[actualStory]" class="story" id={{item.id}}>
      <p>{{item.text}}</p>
      <div>
        <P>id : {{item.id}}</P>
        <p>actionToCast : {{item.actionToCast}}</p>
        <p>param : {{item.parameters}}</p>
      </div>
      <div class="buttonDiv">
        <button (click)="scrollTo(item,item.y)">id:{{item.y}}</button>
        <button (click)="scrollTo(item,item.n)">id:{{item.n}}</button>
        <button (click)="scrollTo(item,item.i)">id:{{item.i}}</button>
      </div>
      <div class="actioner">
        <button class="deleter" (click)="deleteCard(item)">🗑️</button>
        <button class="editor" (click)="editCard(item)">🖊️</button>
      </div>
    </div>
    <div id="editor">
      <select name="pets" id="actionToCastSelector">
        <option value="" (click)="maskButton()">--Action au texte--</option>
        <option value="breakTile" (click)="maskButton()">Break a Tile</option>
        <option value="changeButton" (click)="displayButton()">Changer les 3 boutons</option>
      </select>
          <div id="buttonDivInput">
            <label>Boutton Oui</label><input type="text" id="buty">
            <label>Boutton Non</label><input type="text" id="butn">
            <label>Boutton JSP</label><input type="text" id="buti">
          </div>
        <textarea placeholder="texte à utiliser" id="textInput" rows="9" cols="35"></textarea>
      <button (click)="sendData()">EDIT</button>
      <button (click)="closeEdit()">CLOSE</button>
    </div>
  </div>
</div>

