
<div class="decorum">
  <div *ngFor="let row of background" class="row">
    <div *ngFor="let tile of row">
      <ion-img class="tile" [src]="tilePath+tile+'.png'"></ion-img>
    </div>
  </div>
</div>
<div class="decorum">
  <div *ngFor="let row of floor" class="row">
    <div *ngFor="let tile of row">
      <ion-img class="tile" [src]="tilePath+tile+'.png'"></ion-img>
    </div>
  </div>
</div>
<div class="decorum">
  <div *ngFor="let row of objects" class="row">
    <div *ngFor="let tile of row">
      <ion-img class="tile" [src]="objectPath+tile+'.png'"></ion-img>
    </div>
  </div>
</div>
<div class="decorum">
  <div *ngFor="let row of chara" class="row">
    <div *ngFor="let tile of row">
      <ion-img class="tile" [src]="charaPath+tile+'.png'"></ion-img>
    </div>
  </div>
</div>

<div id="mainText">{{actualText}}</div>
<div id="buttonDiv">
  <ion-button (click)="answerClick('oui')">{{yesButtonText}}</ion-button>
  <ion-button (click)="answerClick('non')">{{noButtonText}}</ion-button>
  <ion-button (click)="answerClick('jcp')">{{idkButtonText}}</ion-button>
</div>