@font-face {
  font-family: "indie";
  src:
    url("/assets/font/indie.woff") format("woff"),
    url("/assets/font/indie.woff2") format("woff2");
  }
.tile{
  width:6.6vh;
}
.row{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
}
  
.decorum{
  position:absolute;
  left:13.2vw;
  right:13.2vw;
  z-index: -5;

  bottom: 0;
}

#mainText{
  margin:40vh 35vw 30vh 35vw;
  background-color: white;
  padding:1%;
  border-radius: 8%;
  font-family: indie;
  width: fit-content;
  display: flex;
  justify-content: center;
}
#buttonDiv{
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
