<div id="nivuniconnu">
  <div id="wrapper">
    <a (click)="moveLoading()" class="my-super-cool-btn">
      <div class="dots-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <span>GO!</span>
    </a>
  </div>
</div>
<button class="noselect" id="button" routerLink="/askme"></button>
<div class="buttonstory">
  <button *ngFor="let item of story" (click)='chooseStory(story.indexOf(item))'>story {{story.indexOf(item)+1}}</button>
</div>
<div class="decorum">
  <div *ngFor="let row of background" class="row">
    <div *ngFor="let tile of row">
      <ion-img class="tile" [src]="tilePath+tile+'.png'"></ion-img>
    </div>
  </div>
</div>
<div class="decorum">
  <div *ngFor="let row of floor" class="row">
    <div *ngFor="let tile of row">
      <ion-img class="tile" [src]="tilePath+tile+'.png'"></ion-img>
    </div>
  </div>
</div>
<div class="decorum">
  <div *ngFor="let row of objects" class="row">
    <div *ngFor="let tile of row">
      <ion-img id="{{tile}}" class="tile" [src]="objectPath+tile+'.png'"></ion-img>
    </div>
  </div>
</div>
<div id="t91"><img src="assets/hero/2_Owlet_Monster/tile91.png"></div>

<div id="mainText">{{actualText}}</div>
<div id="buttonDiv">
  <ion-button (click)="answerClick('oui')">{{yesButtonText}}</ion-button>
  <ion-button (click)="answerClick('non')">{{noButtonText}}</ion-button>
  <ion-button (click)="answerClick('jcp')">{{idkButtonText}}</ion-button>
</div>
